.container-titulo {
    margin: 2.5rem;
}
.container-texto {
    margin: 3rem;
    .texto {
        font-size: 1rem;
    }
    .lista {
        font-size: .925rem;
        .item {
            padding: 1.125rem;
        }
    }
}