.conteudo-cabeçalho {
  width: 550px;
  display: flex;
  margin-left: 1rem;
  .logo {
    margin: 2rem 1rem;
  }
  .container {
    margin: 2rem;
    padding-left: 5rem;
    display: flex;
    .menu {
      padding-left: 1.5rem;
      .item:hover {
        color: rgb(220, 0, 220);
      }
    }
  }
}
