.conteudo-cabeçalho {
  display: flex;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  .logo {
    padding: 2rem;
    margin-right: 15rem;
  }
  .conteudo-menu {
    display: flex;
    padding: 2rem;
    margin-left: 15rem;
    .menu {
      padding: 0 1rem;
    }
  }
  .item:hover {
    color: rgb(190, 0, 190);
  }
}