.conteudo-cabeçalho {
    display: flex !important;
    margin-left: .75;
    .logo {
      padding: 2rem;
    }
    .container {
      padding: 2rem;
      margin-left: 5rem;
      display: flex;
      .menu {
        padding: .5rem;
        .item {
          color: gold;
        }
      }
    }
  }
  