.botao {
    border-radius: 1rem;
    border-color: rgb(80, 4, 80);
    background-color: gold;
    .texto {
        color: rgb(80, 4, 80);
    }
}
.botao:hover {
    background-color: rgb(80, 4, 80);
    border-color: gold;
    .texto {
        color: gold;
    }
}
