<header class="header">
  <app-header [ArrayMenu]="menu"></app-header>
</header>

<main class="main">
  <img width="auto" height="auto" src="../assets/background.png" alt="" />
  <div class="content">
    <div class="quem">
      <app-quem [nome]="nome" [quem]="quem"></app-quem>
    </div>
    <div class="pecas">
      <app-pecas [pecas]="pecas" [array]="items"></app-pecas>
    </div>
    <div class="contato">
      <app-contato [contato]="contato"></app-contato>
      <app-btn [alerta]="false"></app-btn>
    </div>
  </div>
</main>

<footer class="rodape">
  <app-rodape [nome]="creator"></app-rodape>
</footer>

<router-outlet />
