h1 {
    margin: 2rem;
    padding-top: 1rem;
    font-size: 3.5rem;
}
.container-titulo {
    margin: 2.5rem;
}
.container-texto {
    margin: 3rem;
    .texto1, .texto2 {
        padding: 1rem;
    }
}